openai
python-telegram-bot
moviepy==1.0.3
Pillow<10.0.0
yt-dlp
faster-whisper
ctranslate2
python-dotenv
pytubefix
aiocryptopay
python-telegram-bot[job-queue]
clickhouse-driver
opencv-python-headless
pyspellchecker
pysubs2